<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="Keywords" content="Sorapic, image, download, hight quality, walpaper,
          image animals, pictures, photos, images, cats, dogs, 2k21,
          new, store image, profile, search, search image, beatifull, beaty, fashion, love" />
  <meta property="og:url" content="https://www.sorapic.com/" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="service" />
  <meta property="og:title" content="store image, search images" />
  <!-- <meta property="fb:app_id" content="https://developers.facebook.com/apps/347922002792987/dashboard/" /> -->
  <meta property="og:description" content="I'm SORAPIC, I can store your photos and keep them safe,
          I give you the option to download your photos any time and anywhere,
          I can show you a perfect picture by searching with great keywords to store it in your profile,
          I have for you the light-mode and dark-mode to protect your eyes and to let you have a choice,
          I have for you a beautiful view to never feel you boring when you using me" />
  <meta name="description" content="I'm SORAPIC, I can store your photos and keep them safe,
          I give you the option to download your photos any time and anywhere,
          I can show you a perfect picture by searching with great keywords to store it in your profile,
          I have for you the light-mode and dark-mode to protect your eyes and to let you have a choice,
          I have for you a beautiful view to never feel you boring when you using me">
  <meta property="og:image" content="https://www.sorapic.com/logo.png" />

  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css' />
  <style>
    @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css");
  </style>
</head>

<body>
  {{> nav}}
  <div class="d-flex justify-content-center align-items-center bg-dark body">
    {{{body}}}
  </div>

  {{!--
  <script src="/bower_components/jquery/dist/jquery.min.js"></script> --}}
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>